*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: #1d2021;
  color: #ebdbb2;
  font-family: JetBrainsMono Nerd Font, JetBrainsMono NF, monospace;
  margin: 7% auto auto;
  max-width: 55rem;
  padding: 0 5%;
}

.center-text {
  text-align: center;
}

.searchbar-form {
  margin: 4rem 0;
}

.searchbar-input {
  background: #282828;
  border: none;
  border-radius: 0.75rem;
  box-shadow: none;
  color: #fff;
  display: block;
  font-family: inherit;
  font-size: 1rem;
  margin: 0.5rem auto;
  padding: 0.75rem;
  text-align: center;
  width: 25rem;
}

.searchbar-button {
  background: #fb4934;
  border: none;
  border-radius: 0.75rem;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: inherit;
  margin: 1rem auto;
  padding: 0.8rem;
  text-align: center;
  transition: 0.1s ease-in-out all;
}

.searchbar-button:hover {
  background: #cc241d;
}

.bookmarks-list {
  list-style-type: none;
  margin: 4rem 0;
  padding: 0;
  text-align: center;
}

.bookmarks-list-item {
  margin: 0.5rem 0;
}

.bookmarks-list-item-link {
  color: #b8bb26;
  font-weight: bold;
  text-decoration: none;
  transition: 0.1s ease-in-out all;
}

.bookmarks-list-item-link:hover {
  background: #fe8019;
  color: #fff;
}
